<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collection</title>
 <link rel="stylesheet" href="/asset/collect.css" type="text/css">
</head>
<body>
  <body>
    <nav>
      <div class="logo">
        <a href="#"> <img src="/asset/NFT Logo.png" alt="logo"></a>
      </div>
      <div class="toggle">
        <a href="#"><ion-icon name="menu-outline"></ion-icon></a>
      </div>
  
      <ul class="menu">
        <li><a href="nft_MktP"> Home</a></li>
        <li><a href="live"> Price</a></li>
        <li><a href="collection"> Collection</a></li>
        
        <!-- <li><a href="reg">create</a></li> -->
      <li><a href="log"> Login</a></li>
        
      </ul>
    </nav>

    <!-- CONTAINER -->
    <h1>THE BORED APE</h1> <br> 
    <div class="ape">
      <img src="/asset/ape/resize-16830494492024659017IMG3790.jpg" alt="">
      <img src="/asset/ape/resize-1683049517947660659IMG3791.jpg" alt="">
      <img src="/asset/ape/resize-16830495711137781647IMG3794.jpg" alt="">
      <img src="/asset/ape/resize-1683049603229854877IMG3795.jpg" alt="">
    </div>


    <h1>THE CARTOON NFT</h1> <br>
    <div class="container">
      
      <img src="https://i.pinimg.com/236x/ee/f6/fc/eef6fc9fa52b95c450e8fdda784c309e.jpg">
      <img src="https://i.pinimg.com/236x/a8/ea/23/a8ea23668de7b5dd4d6aecb0a5042c86.jpg">
      <img src="https://i.pinimg.com/236x/3d/e7/b9/3de7b9f2605cde6b45f110578776cdb5.jpg">
      <img src="https://i.pinimg.com/236x/b7/82/23/b782236daebbe58abb1fb7c13c0d8838.jpg">
      <img src="https://i.pinimg.com/236x/c4/30/0b/c4300bd27332473bd1e47793cd6be90e.jpg">
      <img src="https://i.pinimg.com/236x/ac/b9/9a/acb99af23c6098d295bc2f03e8969869.jpg">
      <img src="https://i.pinimg.com/236x/a5/0b/88/a50b886007893b0baec06d85a0eabbed.jpg">
      <img src="https://i.pinimg.com/236x/bc/56/2c/bc562c743e20ae3023eb6f38e315857b.jpg">
      <img src="https://i.pinimg.com/236x/ce/32/cd/ce32cd9366a43f013e3bd46aea881539.jpg">
      <img src="https://i.pinimg.com/236x/01/23/a6/0123a68dd84fe414912477f2fa7e5249.jpg">
      <img src="https://i.pinimg.com/236x/04/32/15/043215513877e26ec2704bb9c862e643.jpg">
      <img src="https://i.pinimg.com/236x/98/fe/63/98fe636a4034b533d35bb6b991f7c3fe.jpg">
      <img src="https://i.pinimg.com/236x/6f/a3/6e/6fa36e1035d9d5389b635aa14ec3efa5.jpg">
      <img src="https://i.pinimg.com/236x/69/31/51/693151714ccb7a773da7b190e4ef634e.jpg">
      <!-- <img src="https://i.pinimg.com/236x/29/07/ca/2907ca802249016b9be7461f4b2acc3d.jpg">
      <img src="https://i.pinimg.com/236x/cb/32/be/cb32be6fedea659ca856cdd5aa6ca04b.jpg">
      <img src="https://i.pinimg.com/236x/fd/d3/8d/fdd38dde06bb8128dc39def4b9680613.jpg"> -->
      <img src="https://i.pinimg.com/236x/e6/e6/fe/e6e6feccdc9b6118434c983709592141.jpg">
      <img src="https://i.pinimg.com/236x/00/5f/cc/005fcc71115dd3e5a90a539340179018.jpg">
      <img src="https://i.pinimg.com/236x/f2/d4/7e/f2d47e55ea65957ed6065ab86c1b03ea.jpg">
      <img src="https://i.pinimg.com/236x/87/96/5e/87965ef6bc2e13a20c844ae202f6d440.jpg">
     
    </div>

    <h1>ABSTRACT WOMEN</h1> <br>
    <div class="women">
      <img src="/asset/women/resize-16830496341240516659IMG3796.jpg" alt="">
      <img src="/asset/women/resize-16830496642019743885IMG3800.jpg" alt="">
      <img src="/asset/women/resize-16830496901002874709IMG3799.jpg" alt="">
      <img src="/asset/women/resize-16830497321372641497IMG3797.jpg" alt="">
      <img src="/asset/women/resize-16830497641552028221IMG3798.jpg" alt="">
    </div>
    
    <h1>GREEK GODS</h1> <br>
    <div class="god">
      <img src="/asset/god/resize-16830498961987329292IMG3801.jpg" alt="">
      <img src="/asset/god/resize-16830499191217007920IMG3802.jpg" alt="">
      <img src="/asset/god/resize-1683049975280760743IMG3803.jpg" alt="">
      <img src="/asset/god/resize-16830500021784692621IMG3804.jpg" alt="">
      <img src="/god/resize-1683050024258364883IMG3805.jpg" alt="">
    </div>

    <h1>SUPER CARS</h1> <br>
    <div class="cars">
      <img src="/asset/cars/resize-16830500451146630835IMG3806.jpg" alt="">
      <img src="/asset/cars/resize-16830500701756228118IMG3807.jpg" alt="">
      <img src="/asset/cars/resize-16830500891823910023IMG3808.jpg" alt="">
      <img src="/asset/cars/resize-16830501131605888826IMG3809.jpg" alt="">
      <img src="/cars/resize-16830501392007059640IMG3810.jpg" alt="">
    </div>

    <h1>SNEAKER HEAD </h1> <br>
    <div class="sneakers">
      <img src="/asset/sneaker/Air Jordan 1 Brotherhood.jpg" alt="">
      <img src="/asset/sneaker/Air Jordan 1 Fearless.jpg" alt="">
      <img src="/asset/sneaker/Air Jordan 1 Travis Scott Fragment.jpg" alt="">
      <img src="/asset/sneaker/Air Jordan 1 Travis Scott.jpg" alt="">
      <img src="/asset/sneaker/Air Jordan 1 University Blue.jpg" alt="">
    </div>
    <!-- CONTAINER END -->
    
    <!-- COLLECTION BAR -->
      <div tabindex="2" class="bar-btn"></div>
      <div tabindex="3" class="collection-bar"></div>
    <!-- COLLECTION BAR END -->
    
    <!-- WINDOW -->
    <div class="background">
      <div tabindex="1" class="window">
        <img class="pic" src="">
        <p class="txt">Saved</p>
        <div class="save-btn"></div>
      </div>
    </div>
    <!-- WINDOW END -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(".container img").click(function(){
  var src = $(this).prop("src");
  $(".background").css({"visibility": "visible"});
  document.querySelector(".window img").src=src;
  document.querySelector(".window").focus();
})

// ***** --ape-- *****
$(".ape img").click(function(){
  var src = $(this).prop("src");
  $(".background").css({"visibility": "visible"});
  document.querySelector(".window img").src=src;
  document.querySelector(".window").focus();
})

// ***** --women-- *****
$(".women img").click(function(){
  var src = $(this).prop("src");
  $(".background").css({"visibility": "visible"});
  document.querySelector(".window img").src=src;
  document.querySelector(".window").focus();
})
// ***** --god-- *****
$(".god img").click(function(){
  var src = $(this).prop("src");
  $(".background").css({"visibility": "visible"});
  document.querySelector(".window img").src=src;
  document.querySelector(".window").focus();
})

// ***** --cars-- *****
$(".cars img").click(function(){
  var src = $(this).prop("src");
  $(".background").css({"visibility": "visible"});
  document.querySelector(".window img").src=src;
  document.querySelector(".window").focus();
})

// ***** --sneakers-- *****
$(".sneakers img").click(function(){
  var src = $(this).prop("src");
  $(".background").css({"visibility": "visible"});
  document.querySelector(".window img").src=src;
  document.querySelector(".window").focus();
})

$(".window").blur(function(){
  $(".background").css({"visibility": "hidden"});
  $(".window .txt").css({"visibility": "hidden", "opacity": "0"});
  
  //DELETE
  $(".collection-bar img").click(function(){
    $(this).css({"opacity":"0", "display":"none"});
  })
})

//SAVE BTN
$(".save-btn").click(function(){
  $(".window .txt").css({"visibility": "visible", "opacity": "0.8"});
  var img = document.createElement("img");
  document.querySelector(".collection-bar").appendChild(img);
  var pic = document.querySelector(".pic").src;
  img.src=pic;
})
  </script>
  </body>
</body>
</html>